@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.portfolio {
  @include flex-column;
  min-height: 100vh;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
  > p {
    color: var(--text-color-light);
  }
  > h2 {
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 2rem;
  }
  &__projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
    .project {
      @include flex-column;
      width: 320px;
      gap: 2rem;
      border: 1px solid var(--hover-color);
      background-color: var(--hover-color);
      transition: var(--transition);
      padding: 1.5rem;
      border-radius: 2rem;
      &__img {
        img {
          height: 120px;
        }
      }
      &__desc {
        color: var(--text-color-white);
      }
      &:hover {
        border: 1px solid var(--primary-color);
        background-color: transparent;
      }
      &__btn {
        button {
          padding-block: clamp(0.5rem, 1vw, 0.8rem);
          padding-inline: clamp(0.5rem, 1vw, 1rem);
          font-size: clamp(0.9rem, 3vw, 1rem);
          border-radius: 0.5rem;
          border: 1px solid var(--primary-color);
          cursor: pointer;
          transition: var(--transition);
          background-color: var(--primary-color);
          color: black;
          font-weight: 300;
          &:hover {
            border: 1px solid var(white);
            background-color: white;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}
